.chartLegendDropdown {
    cursor: default;
    display: inline-block;
}

.chartLegendDropdownContainer .showContainer {
    left: auto;
    top: auto;
}

.chartLegendDropdownContainer {
    position: absolute;
    height: 250px;
    width: 200px;
    left: -27000px;
    top: -27000px;
    z-index: 30;
}

.chartLegendDropdownContainer li {
    white-space: nowrap;
}

.chartLegendDropdownText span {
    width: 115px;
    overflow: hidden;
}

.chartLegendDropdownContainer .chartLegend-items-list {
    background-color: #fff;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0;
    background-size: auto;
    box-shadow: 3px 5px 15px #434343;
    -moz-box-shadow: 3px 5px 15px #434343;
    -webkit-box-shadow: 3px 5px 15px #434343;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 320px;
}

.chartLegendDropdownText .dropdownText {
    width: 100px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #525252;
    font-family: "Segoe UI Semibold";
    font-size: 11px;
    height: 32px;
    line-height: 20px;
    vertical-align: middle;
}

.chartScale,
.timeRange {
    width: 88px;
    height: 20px;
    background: transparent;
    outline: 0;
}

.chartScale .fx-dropdown,
.timeRange .fx-dropdown { 
    width: 80px;
    height: 20px;
    border: 0;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    overflow: visible;
    padding: 0px 8px 0px 0px;
} 

.chartScale .fx-dropdown .fx-dropdown-current,
.timeRange .fx-dropdown .fx-dropdown-current { 
    overflow: hidden;
    width: 70px;
    height: 20px;
    border: 0;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    padding: 0px 8px 0px 8px;
} 

.chartScale .fx-dropdown .fx-dropdown-arrow,
.timeRange .fx-dropdown .fx-dropdown-arrow { 
    max-height: 20px;
    margin-top: 8px;
    margin-right: 2px;
} 

.chartScale .fx-dropdown .fx-dropdown-anchor .fx-dropdown-list li,
.timeRange .fx-dropdown .fx-dropdown-anchor .fx-dropdown-list li { 
    width: 70px;
    height: 20px;
    line-height: 20px;
} 

.chartScaleOption,
.timeRangeOption {
    border: 0;
/*    outline: none;
    -khtml-appearance: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
    font-family: "Segoe UI Semibold";
    background-color: transparent; */
    text-transform: uppercase;
    font-size: 11px;
    opacity: 0;
/*    z-index: 1;  Above timeRangeOptionCover 
    width: 80px; */
}

.chartScaleOptionCover,
.timeRangeOptionCover {
    color: #525252;
    font-family: "Segoe UI Semibold";
    font-size: 11px;
    bottom: 0;
    left: 0;
    width: 90px;
    float: left;
    margin-left: 2px;
    white-space: nowrap;
    text-transform: uppercase;
    vertical-align: middle;
}

.chartScaleTimeRangeText 
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.chartScaleOptionCover span,
.timeRangeOptionCover span {
    float: right;
}

.chartScaleOptionCover img,
.timeRangeOptionCover img {
    float: right;
    margin: 11px 15px 0 5px;    
}

.metricChartContainer .legendContainer, 
.chartOptionsContainer .chartScaleContainer,
.chartScaleContainer .chartScale,
.refreshContainer .timeRange,
.metricChartContainer .legendContainer .listLegend,
.metricChartContainer .legendContainer .dropLegend  {
    float: left;
}

.displayScaleUnits {
    margin-left: 10px;
    font-size: 9px;
    margin-bottom: 2px;
    clear: right;
}

.metricChartContainer .legendContainer .dropLegend  {
    margin-top: 3px;
}

.metricChartContainer .chartScaleContainer, 
.metricChartContainer .refreshContainer {
    margin-top: 3px;
}

.refreshContainer .aux-chart-menu {
    margin-top: 2px;
    margin-left: 3px;
}
/****/

.metricChartContainer .chartOptionsContainer,
.metricChartContainer .refreshContainer, 
.refreshContainer .aux-chart-menu {
    float: right;
}

.metricChartContainer .refreshContainer {
    min-width: 100px;
    max-width: 180px;
    margin-left: 2px;
}

.metricChartContainer .emptyContainer {
    display: block;
    float: left;
    height: 1px;
    visibility: hidden;
    max-width: 100px;
}

.metricsChartTooltip {
    font-family: "Segoe UI Semibold";
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    z-index: 20; /* .calloutPopup z-index is 10+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.80;
}

.metricsChartTooltip li {
    list-style: none;    
}

.metricChartContainer .overlayMessage {
    background-color: #e7e7e7;
    color: #444444;
    font-size:18px;
    font-family: "Segoe UI Light";
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 0px;
    position:absolute;
    text-align:center;
}

.metricChartContainer .overlayMessage a {
    color: #519ec9;
    text-decoration: none;
}

.metricChartContainer-checkboxFormatter {
    width: 30px;
}
