.appDashboard-overview.hasAvailabilityMetrics h2,
.vmDashboard-overview.hasAvailabilityMetrics h2 {
    margin: 27px 0 30px 0;     
}

.appDashboard-overview.hasAvailabilityMetrics .wazMetricAvailability h2,
.vmDashboard-overview.hasAvailabilityMetrics .wazMetricAvailability h2 {
    margin: 40px 0 12px 0;
}

.wazMetricAvailability h2 {
    font-size: 20px;
    font-weight: normal;
    border: none;
    display: inline-block;    
}

.wazMetricAvailability .endpointContainer {
    margin-top: 7px;    
}

.wazMetricAvailability a {
    color: #558ED5;
}

.wazMetricAvailability .configureUrl {
    display: block;
    margin-top: 11px;
}

.wazMetricAvailability .configureUrl a {
    color: #323232;
    text-decoration: none;
    text-transform: uppercase;    
}

.wazMetricAvailability .configureUrl img {
    border: none;
    padding-left: 8px;
    vertical-align: bottom;    
}

.wazMetricAvailability .siteUptimeLabel,
.waz-metricAvailabilityDialog-container .siteUptimeLabel {
    font-family: "Segoe UI";
    margin: 0 30px 0 0;
    max-width: 150px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
	white-space: nowrap;   
}

.wazMetricAvailability .availability-endpoint-sprite {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
}

.wazMetricAvailability .availability-endpoint-sprite img {
    position: absolute;
}

.wazMetricAvailability .availability-endpoint-sprite img {
    left: 0;
}

.wazMetricAvailability .availability-endpoint-sprite.up img {
    top: 0;
}

.wazMetricAvailability .availability-endpoint-sprite.down img {
    top: -160px;
}

.waz-metricAvailabilityDialog-container .availability-site-icon-img {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 6px 5px 8px 6px;    
    position: static;
    vertical-align: middle;
}

.wazMetricAvailability .availability-sites-list,
.waz-metricAvailabilityDialog-container .waz-metricAvailabilityDialog-resources-list {
    list-style-type: none;    
    outline: none;
    overflow-y: auto;
}

.wazMetricAvailability .timeLabel {
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 50px;
    margin-top: 3px;
}

.wazMetricAvailability .timeLabel,
.wazMetricAvailability .availabilityContainer {
    display: inline-table;
}

.waz-metricAvailabilityDialog-resources-list li {
    float: left;
}

.wazMetricAvailability .timeContainer,
.wazMetricAvailability .siteContainer,
.wazMetricAvailability .availability-sites-list li {
    float: left;
}

.wazMetricAvailability .noData {
    display: block;
    padding-bottom: 2px;
}

.waz-metricAvailabilityDialog-container .siteUptimeLabel,
.waz-metricAvailabilityDialog-container .endpointUrl,
.waz-metricAvailabilityDialog-container .waz-metricAvailabilityDialog-resources-container,
.waz-metricAvailabilityDialog-container .latestTestResults {
    font-family: "Segoe UI Semibold";
    font-size: 13px;
}

.waz-metricAvailabilityDialog-container .endpointUrl {
    text-transform: uppercase;
}

.waz-metricAvailabilityDialog-container .endpointUrl a {
    color: #548dd4;
    margin-left: 43px;
    text-decoration: underline;
    text-transform: none;
}

.waz-metricAvailabilityDialog-container .lastTestResult {
    float: left;
    margin-top: 2px;
    margin-right: 7px;    
}

.waz-metricAvailabilityDialog-container .waz-metricAvailabilityDialog-resources-list {
    display: inline-table;
}

.waz-metricAvailabilityDialog-container .waz-metricAvailabilityDialog-resources-container,
.waz-metricAvailabilityDialog-container .endpointUrl {
     margin-bottom: 5px;
}

.waz-metricAvailabilityDialog-container .waz-metricAvailabilityDialog-resources-container {
    margin-top: 10px;
}

.waz-metricAvailabilityDialog-container .endpointUrl {
    margin-top: 15px;
}

.waz-metricAvailabilityDialog-container .latestTestResults {
     margin-top: 10px;
     margin-bottom: 25px;
}

.waz-metricAvailabilityDialog-lock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    opacity: 0.75;
}

.waz-metricAvailabilityDialog-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url(../Images/spinner-md.gif)
        center center no-repeat;
}

.waz-metricAvailabilityDialog-startTime {
    width: 150px;
}

/* Styles for the Metric Availability Configs */
.monitoring-config-label-container {
    width: 198px;
}

.monitoring-config-endpoints .endpoint-edit-control {
    width: 600px;
}
