.waz-on-warning {
    color: #333;
    background-color: #e2e3e5;
    padding: 20px;
    border-left: 5px solid #e49937;
    clear: both;
    margin-top: 50px
}

.waz-on-warning.light {
    background-color: #e2e3e5;
}

.waz-on-warning .waz-on-warning-title {
    margin-bottom: 15px;
}

.waz-on-warning .waz-on-warning-icon {
    margin-right: 2px;
    vertical-align: middle;
}

.waz-on-warning .waz-on-warning-title-text {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: middle;
}

.waz-on-warning .waz-on-warning-message {
    margin-bottom: 15px;
}

.waz-on-warning .waz-on-warning-dismiss {
    float: right;
}

.waz-on-warning .waz-on-warning-dismiss img {
    border: 1px solid #aaa;
}