.waz-upload {
    width: 532px;
    overflow: hidden;
}

.waz-upload-label-container {
    overflow: hidden;
    position: relative;
    height: 28px;
    border: 1px solid #bfbfbf;
    background-color: #f0f0f0;
}

.waz-upload-label-container .waz-upload-label-wrapper {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
}

.waz-upload input[type='text'][readOnly='readonly'].waz-upload-label /* Workaround for IE8 542791 */,
.waz-upload .waz-upload-label {
    width: 100%;
    height: 28px;
    line-height: 28px;
    border: none;
    background-color: #f0f0f0;
    color: #737373;
    font-size: 11px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.waz-upload-button-container {
    float: right;
    margin-left: 5px;
}

.waz-upload .waz-upload-button {
    position: relative;
    float: left;
    z-index: 0;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 30px;
    margin-right: 5px;
    border: 1px solid #838383;
    background: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
}

.waz-upload .waz-upload-button:hover,
.waz-upload .waz-upload-button:focus,
.waz-upload .waz-upload-button.waz-upload-focus {
    border-color: #48acf6;
    outline: none;
}

.waz-upload .waz-upload-button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
}

.waz-upload.waz-validation-invalid .waz-upload-label {
    padding-right: 25px;
}

.waz-upload .waz-upload-label.waz-upload-chosen {
    font-weight: bold;
    color: #434343;
    text-transform: none;
}

.waz-upload .waz-upload-native-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.waz-upload input.waz-upload-native {
    position: absolute;
    width: 80px;
    z-index: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    cursor: pointer;
}

.waz-upload input.waz-upload-native:focus {
    outline: none;
}
