.waz-emptyplaceholder-message {
    font-family: "Segoe UI Light";
    font-size: 28px;
    color: #737373;
    margin-bottom: 20px;
}

.waz-emptyplaceholder-action {
    color: #929397;
    font-family: "Segoe UI Semibold";
    text-transform: uppercase;
    margin-top: 10px;
}

.waz-emptyplaceholder-action:hover {
    text-decoration: none;
    cursor: pointer;
    color: #509ed8;
}

/* Keep tag name hs-empty since it's used everywhere */

.hs-empty h1 {
    font-size: 12px;
    font-family: "Segoe UI Semibold";
    text-transform: uppercase;
    margin-bottom: 8px;
}

.hs-empty .hs-empty-header {
    font-family: "Segoe UI Light";
    font-size: 28px;
    color: #737373;
    margin-bottom: 20px;
}

.hs-empty .hs-empty-header p {
    margin: 10px 0 15px 0;
}

.hs-empty .hs-empty-sections {
    width: 750px;
}

.hs-empty .hs-empty-sections .hs-empty-section {
    border-top: 2px solid #88b9e3;
    width: 360px;
    float: left;
}

.hs-empty .hs-empty-sections .hs-empty-listview {
    float: left;
    width: auto;
}


.hs-empty .hs-empty-sections .hs-empty-section:first-child {
    margin-right: 30px;
    border-color: #97c83f;
}

.hs-empty .hs-empty-sections .hs-empty-section p {
    font-size: 14px;
    color: #434343;
    margin-bottom: 20px;
}


.hs-empty .hs-empty-sections .hs-empty-section h3 {
    color: #4e4e4e;
    font-family: "Segoe UI Light";
    font-size: 20px;
    margin: 9px 0 13px;
}

.hs-empty .arrowlink {
    background: transparent url(/Content/Images/icon-next-20-g-idl.png) no-repeat scroll left 50%;
    color: #929397;
    font-family: "Segoe UI Semibold";
    list-style-type: none;
    padding: 4px 0 3px 24px;
    text-transform: uppercase;
    margin-top: 10px;
}

.hs-empty .arrowlink:hover {
    background: transparent url(/Content/Images/icon-next-20-g-hvr.png) no-repeat left 50%;
    text-decoration: none;
    color: #509ed8;
}

.hs-empty .arrowlink-right {
    background: transparent url(/Content/Images/icon-next-20-g-idl.png) no-repeat right 50%;
    color: #929397;
    font-family: "Segoe UI Semibold";
    list-style-type: none;
    padding: 4px 30px 3px 0;
    text-transform: uppercase;
    margin-top: 10px;
}

.hs-empty .arrowlink-right:hover {
    background: transparent url(/Content/Images/icon-next-20-g-hvr.png) no-repeat right 50%;
    text-decoration: none;
    color: #509ed8;
}