<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="VirtoCommerce">
      <section name="Order" type="VirtoCommerce.Foundation.Orders.OrderConfiguration,VirtoCommerce.Foundation" />
      <section name="Catalog" type="VirtoCommerce.Foundation.Catalogs.CatalogConfiguration,VirtoCommerce.Foundation" />
      <section name="Import" type="VirtoCommerce.Foundation.Importing.ImportConfiguration,VirtoCommerce.Foundation" />
      <section name="Search" type="VirtoCommerce.Foundation.Search.SearchConfiguration,VirtoCommerce.Foundation" />
      <section name="Workflow" type="VirtoCommerce.Foundation.Frameworks.Workflow.WorkflowConfiguration, VirtoCommerce.Foundation" />
      <section name="Inventory" type="VirtoCommerce.Foundation.Inventories.InventoryConfiguration,VirtoCommerce.Foundation" />
      <section name="AzureRepository" type="VirtoCommerce.Foundation.Data.Azure.AzureConfiguration, VirtoCommerce.Foundation.Data.Azure" />
      <section name="Store" type="VirtoCommerce.Foundation.Stores.StoreConfiguration,VirtoCommerce.Foundation" />
      <section name="Customer" type="VirtoCommerce.Foundation.Customers.CustomerConfiguration,VirtoCommerce.Foundation" />
      <section name="Security" type="VirtoCommerce.Foundation.Security.SecurityConfiguration,VirtoCommerce.Foundation" />
      <section name="Review" type="VirtoCommerce.Foundation.Reviews.ReviewConfiguration,VirtoCommerce.Foundation" />
      <section name="Reporting" type="VirtoCommerce.Foundation.Reporting.ReportingConfiguration,VirtoCommerce.Foundation" />
      <section name="Marketing" type="VirtoCommerce.Foundation.Marketing.MarketingConfiguration,VirtoCommerce.Foundation" />
      <section name="DynamicContent" type="VirtoCommerce.Foundation.Marketing.DynamicContent.DynamicContentConfiguration,VirtoCommerce.Foundation" />
      <section name="AppConfig" type="VirtoCommerce.Foundation.AppConfig.AppConfigConfiguration,VirtoCommerce.Foundation" />
      <section name="Asset" type="VirtoCommerce.Foundation.Assets.AssetConfiguration,VirtoCommerce.Foundation" />
    </sectionGroup>
    </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings configSource="app_data\virto\configuration\connectionStrings.local.config" />
  <!-- Virto Commerce configuration -->
  <VirtoCommerce>
    <!-- Azure Repository Configuration -->
    <AzureRepository configSource="app_data\virto\configuration\Repository.Azure.config" />
    <!-- Order Configuration -->
    <Order configSource="app_data\virto\configuration\Order.config" />
    <!-- Catalog Configuration -->
    <Catalog configSource="app_data\virto\configuration\Catalog.config" />
    <!-- Import Configuration -->
    <Import configSource="app_data\virto\configuration\Import.config" />
    <!-- Search Configuration -->
    <Search configSource="app_data\virto\configuration\Search.config" />
    <!-- Store Configuration -->
    <Store configSource="app_data\virto\configuration\Store.config" />
    <!-- Inventory Configuration -->
    <Inventory configSource="app_data\virto\configuration\Inventory.config" />
    <!-- Customer Configuration -->
    <Customer configSource="app_data\virto\configuration\Customer.config" />
    <!-- Security Configuration -->
    <Security configSource="app_data\virto\configuration\Security.config" />
    <!-- Review Configuration -->
    <Review configSource="app_data\virto\configuration\Review.config" />
    <!-- Reporting Configuration -->
    <Reporting configSource="app_data\virto\configuration\Reporting.config" />
    <!-- Workflow Configuration -->
    <Workflow configSource="app_data\virto\configuration\Workflow.config" />
    <!-- Marketing Configuration -->
    <Marketing configSource="app_data\virto\configuration\Marketing.config" />
    <!-- Marketing Configuration -->
    <DynamicContent configSource="app_data\virto\configuration\DynamicContent.config" />
    <!-- System Configuration -->
    <AppConfig configSource="app_data\virto\configuration\AppConfig.config" />
    <!-- Asset Configuration -->
    <Asset configSource="app_data\virto\configuration\Asset.config" />
  </VirtoCommerce>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
