.clearfix {
    display: block;
}

.cmd-refresh2 {
    background: url(/Content/Images/icon-refresh2-16-g-idl.png) 0 0 no-repeat;
    display: inline-block;
    height: 16px;
    font-size: 0;
    width: 16px;
}

.cmd-refresh2:hover {
    background: url(/Content/Images/icon-refresh2-16-g-hvr.png) 0 0 no-repeat;
}

.cmd-refresh2:active {
    background: url(/Content/Images/icon-refresh2-16-g-dis.png) 0 0 no-repeat;
}

.metricChart .xAxis .tickLabel:last-of-type {
    text-align: right !important;
}

.metricChart {
    float: right;    
}

.metricChart .yAxis .tickLabel {
    min-width: 15px !important;
    max-width: 60px !important;
}

/* Assumes chart is not taller than the viewport */
.fx-chartlock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 -15px; /* ensure we cover the x-axis labels that might spill out */
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    opacity: 0.75;
}

/* Assumes chart is not taller than the viewport */
.fx-chartlock-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 -15px; /* ensure we cover the x-axis labels that might spill out */
    background: transparent url(/Content/Images/spinner-md.gif) center center no-repeat;
}

.grayoutIcon {
    background: transparent url(/Content/Images/storage_GraphSelection_Sprite.png) no-repeat scroll 0px 0px;
}
.RGB_124_75_117 {
    background: transparent url(/Content/Images/storage_GraphSelection_Sprite.png) no-repeat scroll -14px -14px;
}
.RGB_177_148_173 {
    background: transparent url(/Content/Images/storage_GraphSelection_Sprite.png) no-repeat scroll -28px -14px;
}
.RGB_90_117_207 {
    background: transparent url(/Content/Images/storage_GraphSelection_Sprite.png) no-repeat scroll -42px -14px;
}
.RGB_93_167_238 {
    background: transparent url(/Content/Images/storage_GraphSelection_Sprite.png) no-repeat scroll -56px -14px;
}
.RGB_67_163_158 {
    background: transparent url(/Content/Images/storage_GraphSelection_Sprite.png) no-repeat scroll -70px -14px;
}
.RGB_210_154_60 {
    background: transparent url(/Content/Images/storage_GraphSelection_Sprite.png) no-repeat scroll -84px -14px;
}

.monitor-details .aux-gridview {
    margin-top: 40px;
}

.monitor-details .chart-title {
    color: #434343;
    font-size: 11px;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.metricChartGridCheckbox, .monitoringChart {
    position: relative;
}

.metricChartGridCheckbox input {
    left: 43px;
    position: relative;
    vertical-align: top;
}

.monitorTabChart {
    position: relative;
}

.monitorTabGrid {
    margin-top: 40px;
}