.waz-slider-range {
    position: relative;
}

.waz-slider-range-legend {
    padding: 10px 0 8px 45px;
}

.waz-slider-range .ui-slider {
    position: relative; /* ui */
    height: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

.waz-slider-range .ui-slider,
.waz-slider-range .waz-slider-range-legend  .fx-legend-indicator .fx-slider-legend {
    background: #ddd;
}

.waz-slider-range .waz-slider-range-legend .fx-legend-item1 .fx-legend-indicator {
    background: #2486b5;
}

.waz-slider-range .waz-slider-range-legend .fx-legend-item2 .fx-legend-indicator {
    background: #a1a1a1;
}

.waz-slider-range .waz-slider-range-legend .fx-legend-item3 .fx-legend-indicator {
    background: #ddd;
}


.waz-slider-range .ui-slider .ui-slider-handle {
    top: 0; /* ui */
    position: absolute; /* ui */
    z-index: 4; /* ui */
    cursor: default; /* ui */
    margin-left: -9px;
    margin-top: -8px;
    height: 30px;
    width: 9px;
    background: #404040;
    border: 2px solid #fff;
}

.waz-slider-range .ui-slider .ui-slider-handle.ui-state-hover {
    background-color: #000;
}

.waz-slider-range .waz-slider-range-slider {
    display: inline-block;
    width: 70%;
    top: 5px;
}

.waz-slider-range .waz-slider-range-input {
    display: inline-block;
}

.waz-slider-range .waz-slider-range-input input {
    border: 2px solid #ccc;
    background-color: #fff;
    width: 27px;
    line-height: 24px;
    height: 24px;
    text-align: center;
    padding: 1px;
}

.waz-slider-range .waz-slider-range-input input:hover {
    border-color: #006bb6;
}

.waz-slider-range .ui-slider .ui-slider-range,
.waz-slider-range .ui-slider .waz-slider-range-groupbar {
    position: absolute; /* ui */
}



.waz-slider-range .ui-slider .ui-slider-range-min {
    top: 0; /* ui */
    left: 0; /* ui */
    height: 100%; /* ui */
    z-index: 2;
}

.waz-slider-range .ui-slider .ui-slider-range-min,
.waz-slider-range .waz-slider-range-legend .fx-legend-item1 .fx-legend-indicator {
    background: #2486b5;
}

.waz-slider-range.fx-editablecontrol-edited .waz-slider-range-legend .fx-legend-item1  .fx-legend-indicator {
    background: #c84fd7;
}

.waz-slider-range.fx-editablecontrol-edited .waz-slider-range-legend .fx-legend-item2  .fx-legend-indicator {
    background: #a1a1a1;
}

.waz-slider-range .ui-slider .waz-slider-range-groupbar {
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
}

.waz-slider-range .ui-slider .waz-slider-range-groupbar,
.waz-slider-range-quota.waz-sliderrange .fx-slider-legend .fx-legend-indicator
{
    background: #a1a1a1;
}

.waz-slider-range .waz-slider-range-slider .waz-slider-range-groupbar.waz-slider-range-low-bar {
    background: none;
}

.waz-slider-range .waz-slider-range-slider .waz-slider-range-groupbar.waz-slider-range-mid-bar {
    background: #2486b5;
    opacity: 0.5;
}

.waz-slider-range .waz-slider-range-slider .waz-slider-range-groupbar.waz-slider-range-high-bar {
    background: none;
}

.waz-slider-range.fx-editablecontrol-edited .waz-slider-range-slider .waz-slider-range-groupbar.waz-slider-range-low-bar {
    background: none;
}

.waz-slider-range.fx-editablecontrol-edited .waz-slider-range-slider .waz-slider-range-groupbar.waz-slider-range-mid-bar {
    background: #c84fd7;
    opacity: 0.5;
}

/* Disabled State */
.waz-slider-range.ui-state-disabled .ui-slider .ui-slider-handle {
    display: none;
}

.waz-slider-range.ui-state-disabled .waz-slider-range-input input {
    border-color: transparent;
}

.waz-slider-range .waz-slider-range-input input.fx-validation-invalid {
    border-color: #ee1c25;
    background-image: none;
}

.waz-slider-range.ui-state-disabled .ui-slider .ui-slider-range-min,
.waz-slider-range.ui-state-disabled .waz-slider-range-legend .fx-legend-item1 .fx-legend-indicator {
    background: #777;
}

.waz-slider-range.ui-state-disabled .waz-slider-range-slider .waz-slider-range-groupbar.waz-slider-range-mid-bar {
    background: #777;
}

/* Resets */
.waz-slider-range.ui-state-disabled,
.waz-slider-range .ui-state-disabled,
.waz-slider-range .ui-widget-content .ui-state-disabled,
.waz-slider-range .ui-widget-header .ui-state-disabled {
    -ms-filter: none;
    opacity: inherit;
}

.waz-slider-range .ui-corner-all {
    border-radius: 0;
}

.waz-slider-range .ui-widget-header {
    background: none;
}

.waz-slider-range .ui-widget-content {
    border: 0;
}

.waz-slider-range .fx-slider-legend {
    margin-top: 12px;
}