.waz-multiSelectDropdown {
    position: relative;
    width: 318px;
    height: 28px;
    padding: 0;
    border: 1px solid #a6a6a6;
    background-color: #fff;
    font-size: 13px;
}

.waz-multiSelectDropdown .waz-multiSelectDropdown-title {
    padding: 0 36px 0 8px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.waz-multiSelectDropdown .waz-multiSelectDropdown-arrow {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.waz-multiSelectDropdown.fx-validation-invalid .waz-multiSelectDropdown-arrow {
    right: 20px;
}

.waz-multiSelectDropdown .waz-multiSelectDropdown-text {
    line-height: 28px;
    white-space: nowrap;
    margin-left: 3px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 93%;
}

.waz-multiSelectDropdown .waz-multiSelectDropdown-list {
    z-index: 1000;
    position: absolute;
    left: -1px;
    border: 1px solid #a6a6a6;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.waz-multiSelectDropdown ul {
    margin: 0;
    padding: 0;
}

.waz-multiSelectDropdown .waz-multiSelectDropdown-list li {
    margin: 0;
    padding: 0 8px 0 24px;
    list-style-type: none;
    line-height: 28px;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 286px;
}

.waz-multiSelectDropdown .waz-multiSelectDropdown-list .waz-multiSelectDropdown-checkbox,
.waz-multiSelectDropdown .waz-multiSelectDropdown-list .waz-multiSelectDropdown-checkbox-selectAll {
    width: 20px;
    margin: 5px 5px 0px -15px;
    padding-left: 0px;
    display: inline;
}

.waz-multiSelectDropdown .waz-multiSelectDropdown-list li label {
    display: inline !important;
    position: relative;
    top: -3px;
}