/* general dialog */
.ui-widget-overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
}

.waz-blob-explore-title {
    background: transparent;
    border-style: none;
    font-weight: 600;
    font-size: 1.5em;
}

    .waz-blob-explore-title span.ui-dialog-title {
        margin-top: 10px;
        padding: 0 10px;
    }

    .waz-blob-explore-title span.ui-icon.ui-icon-closethick {
        background: url(/Content/wizard/images/button-cancel.png) no-repeat;
        height: 10px;
        padding: 0;
        width: 10px;
    }
    
    .waz-blob-explore-title a.ui-dialog-titlebar-close {
        background: none;
        border: 0;
        height: 10px;
        margin-right: 10px;
        width: 10px;
    }
    
        .waz-blob-explore-title a.ui-dialog-titlebar-close:hover {
            background: none;
            outline: none;
        }
        
.ui-dialog .ui-dialog-content.waz-blob-explore-content {
    padding: 20px;
    position: static;
}
    
.waz-blob-explorer a:focus {
    outline: none;
}

.waz-blobExplorer-Loading {
    background: url(/Content/Images/spinner-md.gif) no-repeat center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* left nav pane */
.waz-blob-explorer {
    display: block;
}


.waz-blob-explorer-left-nav {
    border-right: 1px solid #dedede;        
    font-size: 1.1em;
    height: 460px;
    overflow-x: auto;
    overflow-y: auto;
    width: 180px;
    position: absolute;
}

    .waz-blob-explorer-account-list {
        list-style: none;
    }
     
        .waz-blob-explorer-account-list ul li {
            padding: 3px 0 3px 20px  
        }
        
        .waz-blob-explorer-account {
            padding: 4px 0 4px 3px;
            position: relative;
        }
        
            .waz-blob-explorer-account:hover,
            .waz-blob-explorer-account-list ul li:hover {
                background-color: #f3f3f3;
            }
            
            .waz-blob-explorer-account a:hover,
            .waz-blob-explorer-account-list ul li a:hover {
                text-decoration: none;
            }
                
            .waz-blob-explorer-account a {
                background: url(/Content/Images/icon-arrow-collapsed.png) no-repeat 0 2px;            
                padding-left: 14px;                             
            }
            
            .waz-blob-explorer-account-entities-loading {
                padding: 3px 0 3px 20px;
            }
            
            .waz-blob-explorer-container-blobs-loading { 
                background: url(/Content/Images/icon-loading-small.gif) no-repeat 2px center;
            }
            
        
        .waz-blob-explorer-account-list-selected > .waz-blob-explorer-account {
            background: #ebebeb;
        }
        
            .waz-blob-explorer-account-list-selected > .waz-blob-explorer-account a {
                background: url(/Content/Images/icon-arrow-expanded.png) no-repeat 0 2px;            
                position: relative;
            }
        
            .waz-blob-explorer-account-list-container-selected {
                background-color: #ebebeb;
            }

/* main body */
.waz-blob-explorer-body {    
    position: absolute;
    left: 220px;
    top: 0px;
    right: 35px;
    padding-bottom: 20px;    
    padding-top: 50px;    
}

    .waz-blob-explorer-data {
        height: 425px;
    }
    
    .waz-blobExplorer-icon {
        margin-right: 3px;
        vertical-align: text-bottom;
    } 
    
    .waz-blob-explorer-data-form {
        font-size: 1.25em;
        height: 30px;
        margin-top: 10px;
        text-align: right;
    }
        
        .waz-blob-explorer-data-form input[type='text'] {
            border: solid 1px #a9a9a9;
            height: 25px;                    
            margin: 0 5px 0 10px;
            padding: 0 5px;
            width: 220px;
        }
                
            .waz-blob-explorer-data-form input:focus {
                outline: none; /*Remove chromes orange border*/                      
            }
                
            .waz-blob-explorer-autocomplete {
                max-height: 120px;
                overflow-x: hidden;
                overflow-y: auto;
            }
            
                .waz-blob-explorer-autocomplete .ui-state-hover,
                .waz-blob-explorer-autocomplete .ui-state-focus {

                    background: none;
                    background-color: #daf0fa;
                    border: none;
                }
        
        .waz-blob-explorer-data-form input[type='submit'] {
            background-color: #727272;
            border: 0;
            color: #fff;
            height: 27px;
            width: 128px;
            margin-left: 4px;
        }
                
            .waz-blob-explorer-data-form input[type='submit'][disabled] {
                background-color: #959595;
                border: solid 1px #a9a9a9;                    
                color: #cbcbcb;
            }