.waz-linkedResourceChooser
{
    display: block;
    height: 345px;
}

.waz-linkedResourceChooser
{
    display: block;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-dialogHeader
{ 
    color: #A5A5A5 !important;
    font-family: "Segoe UI Semibold";
    font-size: 12px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    text-transform: uppercase;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-dialogSubHeader
{
    color: #505050 !important;
    font: 28px/40px "Segoe UI Light" !important;
    margin-left: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;	
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-dialoginfo
{
    display: block;
    font-family: "Segoe UI Light";
    font-size: 14px;
    margin-bottom: 15px;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-container {
    top: 5px;
    bottom: 5px;
    left: 10px;
    right: 10px;        
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-grid {  
   height: 215px;
   bottom: 40px;
   top: 10px;
   left: 5px;
   right: 5px;   
   display: none;
   overflow: auto;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-grid.selected {
    display: inherit;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-grid-container {   
    clear: both;
    margin-top: 10px;    
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-noLinkedResources {   
    clear: both;
    margin-top: 10px;    
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-loadingResources {   
    clear: both;
    margin-top: 10px;    
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-resources-container {
    margin-top: 24px;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-resources-list {
    list-style-type: none;    
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-resources-list:after, .waz-linkedResourceChooser-grid:after {
    overflow-y:auto;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-resources-list li {
    float: left;
    margin-right: 24px;
    margin-bottom: 20px;
}    

.waz-linkedResourceChooser .waz-linkedResourceChooser-resources-list li.last-child {
    margin-right: 0;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-resources-list li a {
    font-size: 12px;
    font-weight: normal;
    color: #7f7f7f;
    text-transform: uppercase;
    text-decoration: none;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-resources-list li a.selected {
    font-family: "Segoe UI Semibold";
    color: #323232;
}

.waz-linkedResourceChooser .waz-linkedResourceChooser-container .checkboxText {
    margin-left: 8px;
    vertical-align: middle;
}