.waz-dialog-input-with-help, .waz-dialog-label-with-help {
    float: left;
    margin-right: 3px;
}

/* make the line-height 16px since the help icon will make the entire line 16 px tall */
.waz-dialog-label-with-help {
    line-height: 16px;
}

.waz-dialog-item-with-help {
    overflow: hidden;
}

.waz-dialog-input-help-balloon {
   margin-top: 8px;
}

.waz-dialog-label-help-balloon {
    margin-top: 0px;
    margin-bottom: 5px;
}

.waz-dialog-combo-help-balloon {
    margin-top: 12px;
}
