.wazEditableDropdown {
    height: 22px
}

.wazEditableDropdown-input {
    position: relative;
    top: -22px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 13px;
}

.wazEditableDropdown .placeholder {
    top: -22px;
}
